---
import { Footer } from "../../components/Footer";
import type { langData } from "../../components/Hero";
import { Projects } from "../../components/Projects";
import Layout from "../../layouts/Layout.astro";
const title: langData = {
  br: ["Projetos"],
  en: ["Projects"],
};

export function getStaticPaths() {
  return [{ params: { lang: "br" } }, { params: { lang: "en" } }];
}

let { lang } = Astro.params;

typeof lang === "string" ? null : (lang = "br");

const basePath = Astro.url.origin + "/astro-folio";
---

<Layout title="Daniel Folio" lang={lang}>
  <div class="bg-pallete4a min-h-full text-center text-white pt-4 pb-8">
    <h1
      class="z-20 text-pallete4c sm:opacity-20 opacity-30 sm:text-8xl -rotate-90 translate-x-[-40%] translate-y-[150%] sm:transform-none translate text-4xl uppercase fixed sm:-top-2 font-bold px-2 font-fira"
    >
      {title[lang]}
    </h1>
    <Projects basePath={basePath} lang={lang} />
    <Footer lang={lang} />
  </div>
</Layout>
