---
import { Footer } from "../../components/Footer";
import { ProjectsPage } from "../../components/ProjectsPage";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import BoidsCanvas from '../../components/BoidsCanvas.astro';

export function getStaticPaths() {
  return [{ params: { lang: "br" } }, { params: { lang: "en" } }];
}

let { lang } = Astro.params;

typeof lang === "string" ? null : (lang = "br");

const projects = await getCollection("projects", ({id})=>{
  return id.startsWith(lang+'/')
});

const basePath = Astro.url.origin + "/astro-folio";
---
<Layout title="Daniel Folio" lang={lang}>
  <div class="relative min-h-full h-fit text-center text-white sm:p-0 pb-8 bg-blend-lighten bg-gradient-to-br from-[#c72e304e] to-[rgb(199 46 49 / 0)]">
    <div class="absolute w-full h-full min-h-full bg-texture top-0 right-0 left-0 bottom-0 bg-repeat bg-center opacity-[0.05] mix-blend-overlay invisible sm:visible sm:fixed select-none pointer-events-none"></div>
    <ProjectsPage basePath={basePath} content={projects} />
    <Footer lang={lang} />
    <BoidsCanvas />
  </div>
</Layout>
