---
export interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;

const pathname = Astro.url.href;

let splittedPath = pathname.split("/");

let subPaths = splittedPath.filter(
  (item) => item != "en" && item != "" && item != "br"
);

subPaths.splice(0, 1);

let basePath = Astro.url.origin + "/astro-folio";
let homePath = lang == "br" ? basePath + "/br/" : basePath + "/en/";
const areWeHome =
  pathname == homePath || pathname == basePath || pathname == basePath + "/";
//console.log("Debugg:\n homePath: "+homePath+"\n"+" pathname: "+pathname+"\n"+" basePath with slash: "+basePath+"/"+"\n areWeHome: "+areWeHome); //debugg

let changeLangPath = lang == "br" ? basePath + "/en/" : basePath + "/br/";

for (let i = 2; i < subPaths.length; i++) {
  changeLangPath += subPaths[i] + "/";
}

import { ViewTransitions } from "astro:transitions";
import { ThemeToggle } from "../components/ThemeToggle";
import { NavMenu } from "../components/NavMenu";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap"
      rel="stylesheet"
    /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="">
    <NavMenu
      client:load
      areWeHome={areWeHome}
      homePath={homePath}
      changeLangPath={changeLangPath}
      lang={lang as "en" | "br"}
    />
    <slot />

    <style is:global>
      @font-face {
        font-family: "Fira Code";
        src: url("/fonts/FiraCode-VariableFont_wght.ttf")
          format("woff2-variations");
        font-weight: 300 700; /* Supported weight range */
        font-display: swap;
      }

      * {
        overscroll-behavior: contain;
      }

      :root {
        --pallete4aA: #080a1f60; /* deeppurple */
        --pallete4b: #c72e31; /* coolred */
        --pallete4c: #4551c4; /* purpleblue */
        --pallete4cA: #4551c440; /* purplebluealpha */
        --pallete4d: #c4a431; /* mustard */
        --pallete4e: #e6e8f0; /* softwhite */
        --pallete4f: #232e26; /* boardgreen */
      }

      .light {
        --background: 247 248 250;
        --bg-vfx: 26 28 43;
        --accent: 176 32 35;
        --primary: 58 70 168;
        --secondary: 166 133 31;
        --text: 26 28 43;
        --neutral: 62 91 74;
        --boids-calm: 26 28 43 15;
        --boids-excited: 26 28 43 30;
        --boids-agressive: 176 32 35 50;
        --background: 8 10 31;
        --bg-vfx: 199 46 49;
        --accent: 199 46 49;
        --primary: 69 81 196;
        --secondary: 196 164 49;
        --text: 230 232 240;
        --neutral: 35 46 38;
        --boids-calm: 69 81 196 25;
        --boids-excited: 69 81 196 100;
        --boids-agressive: 199 46 49 80;
      }

      .dark {
        --background: 8 10 31;
        --bg-vfx: 199 46 49;
        --accent: 199 46 49;
        --primary: 69 81 196;
        --secondary: 196 164 49;
        --text: 230 232 240;
        --neutral: 35 46 38;
        --boids-calm: 69 81 196 25;
        --boids-excited: 69 81 196 100;
        --boids-agressive: 199 46 49 80;
      }

      html {
        font-family: system-ui, sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100%;
        height: fit-content;
        box-sizing: border-box;
      }

      body {
        /* position: fixed; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        min-height: 100%;
        height: fit-content;
        overflow-y: auto;
        background-color: rgb(var(--background));
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
